{% extends "base.html" %}

{% block content %}
<h1>Твои записи</h1>
{% if current_user.is_authenticated %}
    <a href="notes" class="btn btn-success">Добавить запись</a>
{% endif %}
{% for item in notes%}
    <div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
        {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/notes/{{ item.id }}" class="btn btn-primary">
                    Изменить
                </a>
                <a href="/notes_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}