{% extends "base.html" %}

{% block content %}
<h3 class="headers">Здесь хранятся все твои воспоминания!</h3>

<h1 class="headers">Мои воспоминания:</h1>
{% if current_user.is_authenticated %}
    <a href="notes" class="btn btn-success">Добавить воспоминание</a>
{% endif %}
{% for item in notes | reverse %}
    <div class="col-md6 border rounded">
        <h2 class="headers">{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        <div>
            {% if images[item.title] %}
                {% for image in images[item.title] %}
                    <img src="/static/users_file/{{item.user_id}}/images/{{item.title}}/{{image}}" alt="{{image}}" width="320" height="240">
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if videos[item.title] %}
                {% for video in videos[item.title] %}
                    <video width="320" height="240" controls>
                        <source src="/static/users_file/{{item.user_id}}/videos/{{item.title}}/{{video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            Дата написания - {{item.created_date}}
        </div>
        {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/notes/{{ item.id }}" class="btn btn-primary">
                    Изменить
                </a>
                <a href="/notes_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}