{% extends "base.html" %}

{% block content %}
<h1>Добавление записи</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="form-group">
        <p>Выберете изображения (при необходимости).</p>
        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" multiple>
        <p>Выберете видео (при необходимости).</p>
        <input type="file" class="form-control-file" id="video" name="video" accept="video/*" multiple>
    </div>
    <div>{{ form.submit(type="submit", class="btn btn-primary")}}</div>
    {{message}}
</form>
{% endblock %}